  <main>
    <div class="map-container">
      <iframe 
        src="https://app.mappedin.com/map/67777f9b2eb44a000be2cde1?embedded=true"
        class="campus-map" 
        title="Campus Map"
        allow="clipboard-write 'self' https://app.mappedin.com; web-share 'self' https://app.mappedin.com"
      ></iframe>
       
    </div>
  </main>

  <footer class="campus-footer">
    <p class="campus-footer-text">
      Powered by 
      <a href="https://www.mappedin.com/" class="campus-footer-link">Mappedin</a>
    </p>
  </footer>